.main-form {
  margin-top: 16px;
  margin-bottom: 16px;
}

.main-form-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-form-footer {
  padding: 10px;
}

/* Para iPhones medianos y grandes */
@media (max-width: 430px) {
  .main-form-card {
    width: 90%;
    margin: 0 auto; /* Para centrar horizontalmente */
    background-color: #FFFFFF;
  }
}

/* Para pantallas de escritorio estándar */
@media (min-width: 1024px) {
  .main-form-card {
    width: 60%;
    margin: 0 auto; /* Para centrar horizontalmente */
    background-color: #FFFFFF;
  }
}

/* Para pantallas de escritorio grandes */
@media (min-width: 1440px) {
  .main-form-card {
    width: 60%;
    margin: 0 auto; /* Para centrar horizontalmente */
    background-color: #FFFFFF;
  }
}

