/* Estilos para los formularios principales */
.main-form {
  margin-top: 16px;
  margin-bottom: 16px;
}

.main-form-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Estilos para los títulos dentro de los formularios principales */
.form-section-title {
  font-size: 18px;
  font-weight: 500;
  color: #546e7a;
  padding-bottom: 18px;
  margin-top: 4px;
}
