.main-input-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-card-footer {
  padding: 10px;
}

.main-form {
  margin-top: 16px;
  margin-bottom: 16px;
}

#payment-type-label {
  display: flex;
  margin-bottom: 10px;
}

.btn-cancel {
  color: #CB3A12;
}

/* Para iPhones medianos y grandes */
@media (max-width: 430px) {
  .daily-card {
    width: 90%;
    margin: 0 auto; /* Para centrar horizontalmente */
    background-color: #FFFFFF;
  }
}

/* Para pantallas de escritorio estándar */
@media (min-width: 1024px) {
  .daily-card {
    width: 60%;
    margin: 0 auto; /* Para centrar horizontalmente */
    background-color: #FFFFFF;
  }
}

/* Para pantallas de escritorio grandes */
@media (min-width: 1440px) {
  .daily-card {
    width: 60%;
    margin: 0 auto; /* Para centrar horizontalmente */
    background-color: #FFFFFF;
  }
}

